{{ name }} is a {{ age }} year old {{ race }} {{ gender }} who visits the doctor due to pain in the knee.
The patient receives an x-ray of the knee that shows osteoarthritis.
The doctor diagnoses the patient with osteoarthritis of the knee. The patient is prescribed Naproxen sodium 220 MG Oral Tablet to manage pain.
The doctor refers the patient for a knee replacement procedure.

Write a medical note for this encounter.
The note should include the doctor's interpretation of the x-ray. It should also include a description of the pain the patient was experiencing and limitations they had in mobility.
The note should contain the doctor's recommendation that the patient have a knee replacement.